<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tongtong.tiny.datastructureapplication"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".aha.AHaArithmeticActivity"
            android:label="啊哈算法入口">
        </activity>
        <activity
            android:name=".aha.chapter01.AHaChapter01Activity"
            android:label="啊哈算法 第一章，排序">
        </activity>
        <activity
            android:name=".offer.OfferEntryActivity"
            android:label="剑指offer">
        </activity>
        <activity
            android:name=".offer.chapter01.OfferChapter01Activity"
            android:label="@string/title_offer_chapter01">
        </activity>
        <activity
            android:name=".offer.chapter02.OfferChapter02Activity"
            android:label="@string/title_offer_chapter02">
        </activity>
        <activity
            android:name=".offer.chapter03.OfferChapter03Activity"
            android:label="@string/title_offer_chapter03">
        </activity>
        <activity
            android:name=".offer.chapter04.OfferChapter04Activity"
            android:label="@string/title_offer_chapter04">
        </activity>
        <activity
            android:name=".offer.chapter05.OfferChapter05Activity"
            android:label="@string/title_offer_chapter05">
        </activity>
        <activity
            android:name=".offer.chapter06.OfferChapter06Activity"
            android:label="@string/title_offer_chapter06">
        </activity>
        <activity
            android:name=".offer.chapter07.OfferChapter07Activity"
            android:label="@string/title_offer_chapter07">
        </activity>
        <activity
            android:name=".offer.chapter08.OfferChapter08Activity"
            android:label="@string/title_offer_chapter08">
        </activity>
        <activity
            android:name=".offer.chapter02.OfferChapter021Activity"
            android:label="实现Singleton模式">
        </activity>
    </application>

</manifest>